@charset "utf-8";

*{ margin: 0; padding: 0; }

#main{
    width: 1000px;
    height: 876px;
}
#main h1{ 
    width: 960px; 
    color: #fff;
    position: relative;
    padding: 25px 20px;
    font-size: 20px;
    margin-bottom: 10px;
    background: url(./materials/img/titleBack_1.png) no-repeat;
    background-size: 100%;
}
#main h1 p{
    position: relative;
    z-index: 2;
    color: #fff;
}
#main h1 img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#main table{
    width: 100%;
}
#main table td{
    padding: 0 13px;
    font-size: 16px;
    line-height: 25px;
}
#main table td.view{
    width: 704px!important;
    vertical-align: top;
}
#main table td.view p{
    line-height: 30px;
}
#main table td.img{
    width: 320px;
}
#main table.summary{
    border-collapse: collapse;
    border: solid 1px #000;
}
#main table.summary td{
    border: solid 1px #000;
    padding: 5px 10px;
}